@import url(hero.css);
@import url(maquinas.css);
@import url(faixa.css);
@import url(linhas.css);
@import url(servicos.css);
@import url(pecas.css);
@import url(setores.css);
@import url(sobre.css);
@import url(depoimentos.css);
@import url(fabrica.css);
